[submodule "Third-Party/glm"]
	path = Third-Party/glm
	url = https://github.com/g-truc/glm.git
[submodule "Third-Party/glslang"]
	path = Third-Party/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "Third-Party/spdlog"]
	path = Third-Party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Third-Party/volk"]
	path = Third-Party/volk
	url = https://github.com/zeux/volk.git
[submodule "Third-Party/glfw"]
	path = Third-Party/glfw
	url = https://github.com/glfw/glfw.git
