[submodule "third-party/vk-bootstrap"]
	path = third-party/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap.git
[submodule "third-party/glm"]
	path = third-party/glm
	url = https://github.com/g-truc/glm.git
[submodule "third-party/glslang"]
	path = third-party/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "third-party/spdlog"]
	path = third-party/spdlog
	url = https://github.com/gabime/spdlog.git
