VulkanEngine
.vscode/
*.code-workspace
build/*
debug/*
release/*
*.spv

# Visual studio
.vs/
*.sln
*.vcxproj
*.vcxproj.user
*.vcxproj.filters

# CMake
CMakeFiles
CMakeCache.txt

# Custom build directory for windows
VisualStudio
